.imageContainer {
  position: relative;
  height: 150px; /* Sesuaikan dengan tinggi gambar */
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease; /* Transisi perubahan rotasi */
}

@keyframes rotateImages {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateY(100%);
  }
  60% {
    transform: translateX(100%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.image1 {
  animation: rotateImages 8s linear infinite;
}

.image2 {
  animation: rotateImages 8s linear infinite 2s;
}

.image3 {
  animation: rotateImages 8s linear infinite 4s;
}

.image4 {
  animation: rotateImages 8s linear infinite 6s;
}
